<h1 class="heading"><strong>HTTP </strong>Demo</h1>

<div class="form-group">
  <label for="userName">request for url : </label>
  <input type="text" class="form-control" name="userName" [(ngModel)]="requestedUrl" (keydown.enter)='getDatas()'>
  <button type="button" (click)="getDatas()">Get datas</button>
</div>

<div *ngIf="loading">loading...</div>
<br/>
<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage | json}}
</div>

<br/>
<br/>
<pre>{{resultTable | json}}</pre>
